@using Kendo.Mvc.UI
@model ABB.Web.Modules.Rekanan.Models.SaveRekananViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<div class="window-body">
    <form id="RekananForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode Cabang</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="kd_cb" style="width: 100%"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetKodeCabang", "TertanggungPrincipal")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_cb" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode Group Rekanan</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="kd_grp_rk" style="width: 100%"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetKodeGroupRekanan", "TertanggungPrincipal")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_grp_rk" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode Rekanan</label>
            <div class="col-sm-12">
                <kendo-textbox for="kd_rk" readonly="true" style="width: 100%"/>
                <span asp-validation-for="kd_rk" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Nama Rekanan</label>
            <div class="col-sm-12">
                <kendo-textbox for="nm_rk" style="width: 100%"/>
                <span asp-validation-for="nm_rk" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kota Rekanan</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="kd_kota" style="width: 100%"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetKotaRekanan", "TertanggungPrincipal")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_kota" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Alamat Rekanan</label>
            <div class="col-sm-12">
                <kendo-textarea name="almt" rows="3" style="width: 100%">@Model.almt</kendo-textarea>
                <span asp-validation-for="almt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Retail/Corporate</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="flag_sic" style="width: 100%"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetFlagSic", "TertanggungPrincipal")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="flag_sic" class="text-danger"></span>
            </div>
        </div>
    </form>

<div class="window-footer">
    <button type="button" onclick="onSaveRekanan()" class="btn btn-success space-right">
        <span class="fa fa-save"></span> Save
    </button>
</div>
</div>