@using Kendo.Mvc.UI
@using ABB.Application.CetakSchedulePolis.Queries
@using ABB.Application.Common.Dtos
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cetak Nota Dan Kwitansi Polis";
}
<script src="~/Modules/CetakNotaDanKwitansiPolis/JS/cetakNotaDanKwitansiPolis.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
@{
    var jenisLaporans = ViewBag.JenisLaporan as List<DropdownOptionDto>;
    var mataUangs = ViewBag.MataUang as List<DropdownOptionDto>;
}
<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Cetak Nota Dan Kwitansi Polis
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<AkseptasiDto>()
                .Name("AkseptasiGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetAkseptasis", "CetakNotaDanKwitansiPolis").Data("searchFilter"))
                    .Model(model => model.Id(p => p.Id))
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama Sub COB");
                    columns.Bound(col => col.no_pol_ttg).Width(150).Title("Nomor Polis").ClientTemplate("#= formatNoPol(no_pol_ttg) #");;
                    columns.Bound(col => col.no_updt).Width(150).Title("Nomor Update");
                    columns.Bound(col => col.tgl_closing).Width(150).Title("Tanggal Closing").Format("{0: dd-MM-yyyy}");
                    columns.Bound(col => col.nm_ttg).Width(150).Title("Nama Tertanggung");
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .ClientDetailTemplateId("template")
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit")))
        </div>
        
        <script id="template" type="text/kendo-tmpl">
            <form id="#=Id#" enctype="multipart/form-data" autocomplete="off">
                <div class="form-group row">
                    <div class="row col-sm-5">
                        <label class="col-sm-6">Jenis Laporan</label>
                        <div class="col-sm-6">
                            <select name="jenisLaporan" class="k-dropdown">
                                @foreach (var jenisLaporan in jenisLaporans)
                                {
                                    <option value="@jenisLaporan.Value">@jenisLaporan.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row offset-1 col-sm-5">
                        <label class="col-sm-6">Mata Uang</label>
                        <div class="col-sm-6">
                            <select name="mataUang" class="k-dropdown">
                                @foreach (var mataUang in mataUangs)
                                {
                                    <option value="@mataUang.Value">@mataUang.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" onclick="viewReport(this)" class="btn btn-info space-right">
                    <span class="fa fa-print"></span> Preview
                </button>
            </form>
        </script>
    </div>
</div>

