@using Kendo.Mvc.UI
@using ABB.Domain.Entities
@using Microsoft.Extensions.Configuration
@model ABB.Web.Modules.NotaRisiko.Models.NotaRisikoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Nota Risiko";
}
<script src="~/Modules/NotaRisiko/JS/notaRisiko.index.js"></script>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Inquiry Nota Risiko
        </div>
    </div>

    <div class="flat-box-content">
        <form id="NotaRisikoForm" enctype="multipart/form-data" autocomplete="off">
            <div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-3">Tipe Transaksi</label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist for="TipeTransaksi" option-label="Pilih Tipe Transaksi"
                                                datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Custom">
                                    <transport>
                                        <read url="@Url.Action("GetTipeTransaksi", "CancelCSM")"/>
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-3">Kode Metode</label>
                        <div class="col-sm-9">
                            <kendo-dropdownlist for="KodeMetode" option-label="Pilih Kode Metode"
                                                datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Custom">
                                    <transport>
                                        <read url="@Url.Action("GetKodeMetode", "CancelCSM")"/>
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="row col-md-6">
                        <div class="col-md-3" style="align-self: center">
                            <label>Periode</label>
                        </div>
                        <div class="col-md-4">
                            <kendo-datepicker for="PeriodeAwal" value="@DateTime.Now" style="width: 100%" />
                        </div>
                        <div class="col-md-1" style="text-align: center; align-self: center">
                            <span>sd</span>
                        </div>
                        <div class="col-md-4">
                            <kendo-datepicker for="PeriodeAkhir" value="@DateTime.Now" style="width: 100%" />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="row col-sm-6">
                        <label class="col-sm-3">Flag Release</label>
                        <div class="col-sm-5">
                            <kendo-switch for="FlagRelease" ></kendo-switch>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" id="btn-refresh-grid" class="btn btn-primary" style="width: 100%">
                                <span class="fa fa-redo"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @(Html.Kendo().Window()
            .Name("NotaRisikoWindow")
            .Title("NotaRisiko Page")
            .Width(750)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
    </div>
</div>

