@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ABB.Web.Modules.NotaKomisiTambahan.Models.NotaKomisiTambahanViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Nota Komisi Tambahan";
    var nomor_nota = Model.kd_cb.Trim() + " . " + Model.jns_tr.Trim() + " . " + Model.kd_thn.Trim() + " . " + 
                     Model.kd_bln.Trim() + " . " + Model.no_nt_msk.Trim()+ " / " + Model.jns_nt_kel.Trim() + " . " + 
                     Model.no_nt_kel.Trim();
}

<script src="~/Modules/NotaKomisiTambahan/JS/notaKomisiTambahan.form.js"></script>

@Html.AntiForgeryToken()
<form id="NotaKomisiTambahanForm" enctype="multipart/form-data">
    <div class="window-body" style="background-color: lightgray">
        @Html.HiddenFor(m => m.jns_sb_nt)
        @Html.HiddenFor(m => m.kd_cb)
        @Html.HiddenFor(m => m.kd_cob)
        @Html.HiddenFor(m => m.kd_scob)
        @Html.HiddenFor(m => m.jns_tr)
        @Html.HiddenFor(m => m.jns_nt_msk)
        @Html.HiddenFor(m => m.kd_thn)
        @Html.HiddenFor(m => m.kd_bln)
        @Html.HiddenFor(m => m.no_nt_msk)
        @Html.HiddenFor(m => m.no_nt_kel)
        @Html.HiddenFor(m => m.kd_grp_sb_bis)
        @Html.HiddenFor(m => m.kd_rk_sb_bis)
        @Html.HiddenFor(m => m.no_pol)
        @Html.HiddenFor(m => m.uraian)
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Akseptasi</label>
                <div class="col-sm-4">
                    <kendo-textbox name="nomor_akseptasi" style="width: 100%" readonly="true"/>
                </div>
                <div class="col-sm-2">
                    <button type="button" onclick="OnSelectAkseptasi()"  class="btn btn-primary space-right">Select</button>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Polis</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_pol_ttg" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Jenis Nota</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="jns_nt_kel" style="width: 100%" class="primary-dropdown" on-change="OnJenisNotaChange"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetJenisNota", "NotaKomisiTambahan")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Update</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" format="#" decimals="0" for="no_updt" style="width: 100%; background-color: #00FFFF"/>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Nota</label>
                <div class="col-sm-6">
                    <kendo-textbox name="nomor_nota" value="@nomor_nota" readonly="true" style="width: 100%"/>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Mata Uang</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="kd_mtu" style="width: 100%" class="not-null-dropdown"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetMataUang", "NotaKomisiTambahan")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Konfirmasi</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_ref" style="width: 100%"/>
                    <span asp-validation-for="no_ref" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Tertuju</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="kd_grp_ttj" style="width: 100%" on-change="OnKodeTertujuChange" option-label="Pilih Kode Tertuju"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeTertuju", "NotaKomisiTambahan")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_ttj" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <kendo-dropdownlist for="kd_rk_ttj" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekananTertuju", "NotaKomisiTambahan")" data="dataKodeTertujuDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_ttj" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nama Tertuju</label>
                <div class="col-sm-6">
                    <kendo-textbox for="nm_ttj" style="width: 100%"/>
                    <span asp-validation-for="nm_ttj" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Alamat</label>
                <div class="col-sm-6">
                    <kendo-textarea name="almt_ttj" rows="2" style="width: 100%; background-color: white">@Model.almt_ttj</kendo-textarea>
                    <span asp-validation-for="almt_ttj" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kota</label>
                <div class="col-sm-6">
                    <kendo-textbox for="kt_ttj" style="width: 100%"/>
                    <span asp-validation-for="kt_ttj" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Keterangan Nota</label>
                <div class="col-sm-6">
                    <kendo-textarea name="ket_nt" rows="2" style="width: 100%; background-color: white">@Model.ket_nt</kendo-textarea>
                    <span asp-validation-for="ket_nt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Tanggal Nota</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_nt" style="width: 100%"/>
                    <span asp-validation-for="tgl_nt" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-3">Nilai PPN</label>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" decimals="2" for="pst_ppn" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="pst_ppn" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="2" for="nilai_ppn" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nilai_ppn" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nilai Premi Polis</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="2" for="nilai_prm" style="width: 100%;"/>
                    <span asp-validation-for="nilai_prm" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-3">Nilai PPH</label>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" decimals="2" for="pst_pph" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="pst_pph" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="2" for="nilai_pph" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nilai_pph" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-3">Nilai Nota</label>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" on-change="onPercentageNotaChange" decimals="2" for="pst_nt" style="width: 100%;"/>
                    <span asp-validation-for="pst_nt" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="2" for="nilai_nt" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nilai_nt" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-3">Jasa Koperasi</label>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" decimals="2" for="pst_lain" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="pst_lain" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="2" for="nilai_lain" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nilai_lain" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Flag Posting</label>
                <input type="hidden" id="tempFlag_posting" value="@Model.flag_posting">
                <div class="col-sm-6">
                    <label>
                        <input type="checkbox" class="k-checkbox" id="flag_posting"/> Posting
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="window-footer">
        <button type="button" id="btn-save-notaKomisiTambahan" class="btn btn-primary space-right">Save</button>
    </div>
</form>
