@using Kendo.Mvc.UI
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@model ABB.Web.Modules.CetakSOATreatyKeluar.Models.CetakSOATreatyKeluarViewModel

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cetak SOA Treaty Keluar";
}
<script src="~/Modules/CetakSOATreatyKeluar/JS/cetakSOATreatyKeluar.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>
<div class="flat-box">
    <div class="row" style="padding-bottom: 1em;">
        <div class="flat-box-title col-md-8">
            Cetak SOA Treaty Keluar
        </div>
    </div>
    <form id="CetakSOATreatyKeluarForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group row">
            <div class="row col-sm-8">
                <label class="col-sm-3">Cabang</label>
                <div class="col-sm-3">
                    <kendo-dropdownlist for="kd_cb" style="width: 100%" option-label="Pilih Cabang" on-change="onCabangChange" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" value="@ViewBag.KodeCabang">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCabang", "CetakSOATreatyKeluar")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cb" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-8">
                <label class="col-sm-3">Tri Wulan - Tahun</label>
                <div class="col-sm-3">
                    <kendo-dropdownlist for="kuartal_tr" style="width: 100%" option-label="Pilih Tri Wulan"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKuartalTransaksi", "CetakSOATreatyKeluar")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kuartal_tr" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" for="thn_tr" format="#" max="9999" style="width: 100%;"/>
                    <span asp-validation-for="thn_tr" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-8">
                <label class="col-sm-3">Persh. Asuransi</label>
                <div class="col-sm-3">
                    <kendo-dropdownlist for="kd_grp_pas" style="width: 100%" option-label="Pilih Persh. Asuransi" on-change="OnPershAsuransiChange"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodePersh", "CetakSOATreatyKeluar")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_pas" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <kendo-dropdownlist for="kd_rk_pas" style="width: 100%" option-label="Pilih Rekanan"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekananPersh", "CetakSOATreatyKeluar")" data="dataKodePasDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_pas" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="row col-sm-8">
                <label class="col-sm-3">Jenis Laporan</label>
                <div class="col-sm-3">
                    <kendo-dropdownlist for="jns_laporan" style="width: 100%" option-label="Pilih Jenis Laporan"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetJenisLaporan", "CetakSOATreatyKeluar")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="jns_laporan" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" id="btn-preview" class="btn btn-success space-right">
                <span class="fa fa-search"></span> Preview
            </button>
        </div>
    </form>
</div>

