@using Kendo.Mvc.UI
@model ABB.Web.Modules.LimitAkseptasi.Models.LimitAkseptasiViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<div class="window-body" style="background-color: lightgray">
    <form id="LimitAkseptasiForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode Cabang</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="kd_cb" style="width: 100%" class="primary-dropdown" option-label="Pilih Cabang"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetCabang", "LimitAkseptasi")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_cb" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode COB</label>
            <div class="col-sm-12">
                <input type="hidden" id="temp_kd_cob" value="@Model.kd_cob">
                <kendo-dropdownlist for="kd_cob" style="width: 100%" class="primary-dropdown" on-change="OnKodeCOBChange" option-label="Pilih COB"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetCOB", "LimitAkseptasi")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_cob" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Kode SCOB</label>
            <div class="col-sm-12">
                <input type="hidden" id="temp_kd_scob" value="@Model.kd_scob">
                <kendo-dropdownlist for="kd_scob" style="width: 100%" class="primary-dropdown" option-label="Pilih SCOB"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetSCOB", "LimitAkseptasi")" data="dataKodeSCOBDropDown"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_scob" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Tahun</label>
            <div class="col-sm-12">
                <kendo-datepicker for="thn" format="yyyy" depth="CalendarView.Decade" start="CalendarView.Decade" value="@DateTime.Now" style="width: 100%; background-color: #00FFFF" />
                <span asp-validation-for="thn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Nilai Kapasitas</label>
            <div class="col-sm-12">
                <kendo-numerictextbox spinners="false" for="nilai_kapasitas" decimals="0" style="width: 100%;"/>
                <span asp-validation-for="nilai_kapasitas" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Limit Cabang (%)</label>
            <div class="col-sm-12">
                <kendo-numerictextbox for="pst_limit_cb" decimals="2" max="100" style="width: 100%;"/>
                <span asp-validation-for="pst_limit_cb" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Maks Panel</label>
            <div class="col-sm-12">
                <kendo-numerictextbox for="maks_panel" decimals="0" format="#" style="width: 100%;"/>
                <span asp-validation-for="maks_panel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-12">Nama Limit Akseptasi</label>
            <div class="col-sm-12">
                <kendo-textbox for="nm_limit" style="width: 100%; background-color: #FFFFE1"/>
                <span asp-validation-for="nm_limit" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<div class="window-footer">
    <button type="button" onclick="onAddLimitAkseptasi()" class="btn btn-success space-right">
        <span class="fa fa-save"></span> Save
    </button>
</div>