<!DOCTYPE html>

<html lang="en" @ViewData["HtmlAttribute"]>
<head>
    <!-- META SECTION -->
    <meta charset="utf-8" />
    <title>ABB </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="author" content="@ViewData["MetaAuthor"]" />
    <meta name="keywords" content="@ViewData["MetaKeywords"]" />
    <link rel="icon" type="image/x-icon" href="~/img/Logo-Icon.png">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.css">
    <link rel="stylesheet" type="text/css" href="~/css/abb.css" />
    <!-- Kendo -->
    <link rel="stylesheet" href="~/plugins/kendo/styles/kendo.office365.min.css">
    <link rel="stylesheet" href="~/plugins/kendo/styles/kendo.common-office365.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <!-- EOF CSS INCLUDE -->    
    
    <style>
    body.login-page {
        background: url("/img/login_bg.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    /* Optional overlay for better readability */
    body.login-page::before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        z-index: -1;
    }
</style>
</head>
<body class="hold-transition login-page">
@await Html.PartialAsync("~/Modules/Shared/_Scripts.cshtml")
    @* <div style=""> *@
    @*      *@
@* </div> *@
@RenderBody()
</body>
</html>
