@using ABB.Web.Modules.Shared.Components.PasswordBox
@model PasswordBoxModel

@{
    var Name = @Model.Name.Replace(".", "_");
}
<script>
    $(document).ready(function () {
        $('.password-box.@Name > button').click(function () {
            var $input = $('.password-box.@Name > input');
            var $icon = $('.password-box.@Name > button > i');
            if ($input.attr('type') == 'text') {
                $input.attr('type', 'password');
                $icon.attr('class', 'fa fa-eye');
            }
            else {
                $input.attr('type', 'text');
                $icon.attr('class', 'fa fa-eye-slash');

            }
        });
        var selector = '.password-box.login-input.@Name';
        $(`${selector} > input`).focus(function () {
            $(selector).attr('style', 'border: solid 1px var(--primary-orange)!important');
        });
        $(`${selector} > input`).blur(function () {
            $(selector).removeAttr('style');
        });

        $(".password-box.@Name").keypress(function (evt) {

            var keycode = evt.charCode || evt.keyCode;
            if (keycode == 32) {
                return false;
            }
        });
    });
</script>
<div class="password-box @Model.Class @Name ">
    <input type="password" placeholder="@Model.PlaceHolder" name="@Model.Name" id="@Model.Name" value="@Model.Value" />
    <button type="button"><i class="fa fa-eye"></i></button>
</div>