@using Kendo.Mvc.UI
@model ABB.Web.Modules.User.Models.AddUserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web
@{
    ViewData["Title"] = "User Page";
}

<script src="~/Modules/User/JS/user.form.js"></script>
<script src="~/Modules/User/JS/user.add.js"></script>

<form id="UserForm" enctype="multipart/form-data" autocomplete="off">
    <div class="window-body" style="background-color: lightgray">
        <div class="form-group center">
            <div class="circular-upload-container center">
                <label for="profile-photo-input">
                    <image src="/img/circular-upload.PNG" />
                </label>
                <input id="profile-photo-input" type="file" name="ProfilePhoto" placeholder="Photo">

            </div>
            <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label class="col-sm-5">Username</label>
            <div class="col-sm-12">
                <kendo-textbox for="UserName" autocomplete="off" placeholder="Enter username" style="background-color: #FFFFE1" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5">First Name</label>
            <div class="col-sm-12">
                <kendo-textbox for="FirstName" placeholder="Enter first name" style="background-color: #FFFFE1"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5">Last Name</label>
            <div class="col-sm-12">
                <kendo-textbox for="LastName" placeholder="Enter last name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoleId" class="col-sm-5">Role</label>
            <div class="col-sm-12">
                <kendo-dropdownlist for="RoleId" option-label="Choose role" class="not-null-dropdown"
                                    datavaluefield="Id" datatextfield="Name" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetRoles","User")" />
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="RoleId" class="text-danger"></span>
                <input type="hidden" asp-for="RoleName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5" asp-for="Email"></label>
            <div class="col-sm-12">
                <kendo-textbox for="Email" placeholder="Enter email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-sm-5"></label>
            <div class="col-sm-12">

                <vc:password-box name="Password" value="@Model.Password" place-holder="Enter password"></vc:password-box>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


        </div>

        <div class="form-group">
            <label class="col-sm-6">Confirm Password</label>
            <div class="col-sm-12">
                <vc:password-box name="ConfirmPassword" value="@Model.ConfirmPassword" place-holder="Enter confirm password"></vc:password-box>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5">Phone Number</label>
            <div class="col-sm-12">
                <kendo-textbox for="PhoneNumber" placeholder="Enter phone number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5">Address</label>
            <div class="col-sm-12">
                <kendo-textbox for="Address" placeholder="Enter address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group ">
            <div class="row">
                <div class="col-sm-6">
                    <label class="col-sm-12">Status</label>
                    <div class="col-sm-12 ">
                        <div class="switch-box">
                            @(Html.Kendo().SwitchFor(a=>a.IsActive))
                            <label class="switch-label-on" for="IsActive">Active</label>
                            <label class="switch-label-off" for="IsActive">Not Active</label>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="col-sm-12">Locked Out</label>
                    <div class="col-sm-12">
                        <div class=" switch-box">
                            @(Html.Kendo().SwitchFor(a=>a.LockoutEnabled))
                            <label class="switch-label-on" for="LockoutEnabled">Active</label>
                            <label class="switch-label-off" for="LockoutEnabled">Not Active</label>
                            <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="window-footer">
        <button type="button" id="btn-add-user" class="btn btn-primary space-right">Save</button>
    </div>
</form>
