@using Kendo.Mvc.UI
@model ABB.Web.Modules.Akseptasi.Models.AkseptasiResikoOtherHoleInOneViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/Akseptasi/Components/Other/otherHoleInOne.js"></script>

<style>
    p {
        margin: 0px;
        padding: 0px;
    }
    label {
        align-content: center;
    }
</style>

@{
    var nomor_aksepatsi = Model.kd_cb.Trim() + "." + Model.kd_cob.Trim() +
                          Model.kd_scob.Trim() + "." + Model.kd_thn.Trim() + "." + Model.no_aks.Trim();
}
<div class="window-body" style="background-color: lightgray">
    <form id="OtherHoleInOneForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Akseptasi</label>
                <div class="col-sm-6">
                    <kendo-textbox name="temp_other_nomor_akseptasi" value="@nomor_aksepatsi" readonly="true" style="width: 100%"/>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Update</label>
                <div class="col-sm-6">
                    <kendo-textbox name="resiko_other_hole_in_one_no_updt" value="@Model.no_updt" readonly="true" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Resiko</label>
                <div class="col-sm-6">
                    <kendo-textbox name="resiko_other_hole_in_one_no_rsk" value="@Model.no_rsk" readonly="true" style="width: 100%"/>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Endorsment</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist name="resiko_other_hole_in_one_kd_endt" style="width: 100%" readonly="true" value="@Model.kd_endt"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeEndorsment", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Nama Turnamen</label>
                <div class="col-sm-9">
                    <kendo-textarea name="turnamen" rows="2" style="width: 100%; background: white">@Model.turnamen</kendo-textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Lokasi Pertandingan</label>
                <div class="col-sm-6">
                    <kendo-textbox for="lokasi" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Banyak Peserta</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="0" format="#" for="jml_peserta" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Spesifikasi Hole ke</label>
                <div class="col-sm-6">
                    <kendo-textbox for="spek_hole" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Hadiah</label>
                <div class="col-sm-9">
                    <kendo-textarea name="hadiah" rows="2" style="width: 100%; background: white">@Model.hadiah</kendo-textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Risiko Sendiri</label>
                <div class="col-sm-6">
                    <kendo-textbox for="own_risk" style="width: 100%"/>
                </div>
            </div>
        </div>
    </form>

    <div class="window-footer">
        <button type="button" id="btn-previous-akseptasiResikoOther" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
        <button type="button" id="btn-save-akseptasiResikoOtherHoleInOne" class="btn btn-success space-right">
            <span class="fa fa-save"></span> Save
        </button>
    </div>
</div>