@using Kendo.Mvc.UI
@model ABB.Web.Modules.Akseptasi.Models.AkseptasiResikoOtherHullViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/Akseptasi/Components/Other/otherHull.js"></script>

<style>
    p {
        margin: 0px;
        padding: 0px;
    }
    label {
        align-content: center;
    }
</style>

@{
    var nomor_aksepatsi = Model.kd_cb.Trim() + "." + Model.kd_cob.Trim() +
                          Model.kd_scob.Trim() + "." + Model.kd_thn.Trim() + "." + Model.no_aks.Trim();
}
<div class="window-body" style="background-color: lightgray">
    <form id="OtherHullForm" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Akseptasi</label>
                <div class="col-sm-6">
                    <kendo-textbox name="temp_other_nomor_akseptasi" value="@nomor_aksepatsi" readonly="true" style="width: 100%"/>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Update</label>
                <div class="col-sm-6">
                    <kendo-textbox name="resiko_other_hull_no_updt" value="@Model.no_updt" readonly="true" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Resiko</label>
                <div class="col-sm-6">
                    <kendo-textbox name="resiko_other_hull_no_rsk" value="@Model.no_rsk" readonly="true" style="width: 100%"/>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Endorsment</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist name="resiko_other_hull_kd_endt" style="width: 100%" readonly="true" value="@Model.kd_endt"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeEndorsment", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Kapal</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="kd_kapal" style="width: 100%" class="not-null-dropdown"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeKapal", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nama Kapal</label>
                <div class="col-sm-6">
                    <kendo-textbox for="nm_kapal" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Jenis Kapal</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="merk_kapal" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetJenisKapal", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Rangka</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_rangka" style="width: 100%; background-color: #FFFFE1"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Mesin</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_msn" style="width: 100%; background-color: #FFFFE1"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Tahun Buat</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="0" format="#" for="thn_buat" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Gross Tonage</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" decimals="0" format="#" for="grt" style="width: 100%"/>
                </div>
            </div>
        </div>
    </form>

    <div class="window-footer">
        <button type="button" id="btn-previous-akseptasiResikoOther" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
        <button type="button" id="btn-save-akseptasiResikoOtherHull" class="btn btn-success space-right">
            <span class="fa fa-save"></span> Save
        </button>
    </div>
</div>