@using ABB.Application.Akseptasis.Queries
@using Kendo.Mvc.UI
@using Kendo.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Akseptasi";
}

<script src="~/Modules/Akseptasi/JS/akseptasi.index.js"></script>

<style>
    .div-box{
        padding-bottom: 1em;
    }
</style>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-6">
            Akseptasi
        </div>

        <div class="col-md-4">
            <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/>
        </div>
        <div class="col-md-2">
            <button class="flat-btn-primary" id="btnAddNewAkseptasi">Add New Akseptasi</button>
        </div>
    </div>

    <div class="flat-box-content">
        <div class="div-box">
            @(Html.Kendo().Grid<AkseptasiDto>()
                .Name("AkseptasiGrid")
                .DataSource(dataSource => dataSource.Ajax()
                    .Read(read => read.Action("GetAkseptasis", "Akseptasi").Data("searchFilter"))
                    .Model(model => model.Id(p => p.no_pol_induk))
                )
                .Columns(columns =>
                {
                    columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
                    columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
                    columns.Bound(col => col.nm_scob).Width(150).Title("Nama Sub COB");
                    columns.Bound(col => col.no_aks).Width(150).Title("Nomor Akseptasi");
                    columns.Bound(col => col.nm_ttg).Width(150).Title("Nama Tertanggung");
                    columns.Bound(col => col.st_pas).Width(150).Title("Status Polis");
                    columns.Bound(col => col.no_updt).Width(150).Title("Nomor Update");
                    columns.Bound(col => col.no_pol_pas).Width(150).Title("Nomor Polis Ceding");
                    columns.Command(command =>
                    {
                        command.Custom("EditAkseptasi")
                            .Text(" Edit")
                            .IconClass("fa fa-pencil-alt")
                            .HtmlAttributes(new { title = "Edit" })
                            .Click("btnEditAkseptasi_OnClick");
                        command.Custom("Closing")
                            .Text(" Closing")
                            .IconClass("fa fa-lock")
                            .HtmlAttributes(new { title = "Closing" })
                            .Click("btnClosingAkseptasi_OnClick");
                        command.Custom("DeleteAkseptasi")
                            .Text("Delete")
                            .IconClass("k-icon k-i-delete")
                            .HtmlAttributes(new { title="Delete"})
                            .Click("btnDeleteAkseptasi_OnClick");
                    }).Width(200);
                })
                .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                )
                .Sortable()
                .Filterable()
                .Scrollable()
                .Height(450)
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("gridAutoFit"))
        
                )    
        </div>
        
        @(Html.Kendo().Window()
            .Name("AkseptasiWindow")
            .Title("Akseptasi")
            .Width(1200)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AkseptasiResikoWindow")
            .Title("Akseptasi Resiko")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AkseptasiCoverageWindow")
            .Title("Akseptasi Coverage")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AkseptasiObyekWindow")
            .Title("Akseptasi Obyek")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AkseptasiPranotaKoasWindow")
            .Title("Akseptasi Pranota Koas")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AkseptasiOtherMotorDetailWindow")
            .Title("Akseptasi Other Motor Detail")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AkseptasiOtherCargoDetailWindow")
            .Title("Akseptasi Other Cargo Detail")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("AlokasiWindow")
            .Title("Akseptasi Alokasi")
            .Width(1000)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
            )
    </div>
</div>

