@model ABB.Web.Modules.VoucherKas.Models.VoucherKasViewModel
@using Kendo.Mvc.UI

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

<style>
    .custom-kode .k-input,
    .custom-kode .k-input,
   .custom-kode,
    .custom-kode .k-textbox,
    .custom-kode .k-input,
    .custom-kode input {
        background-color: #00FFFF !important;
    }
    /* No Rekening – warna kuning muda */
    .custom-kuning,
    .custom-kuning .k-textbox,
    .custom-kuning .k-input,
    .custom-kuning input {
        background-color: rgb(255, 255, 225) !important;
    }
</style>

<div class="window-body" style="background-color: lightgray">
    <form id="VoucherKasForm" enctype="multipart/form-data" autocomplete="off">

       <input type="hidden" asp-for="Id" />
       <div class="row">
            <div class="form-group col-sm-6">
                    <label asp-for="KodeCabang"></label>
                    <div>
                        <kendo-combobox for="KodeCabang"
                                    style="width: 100%;"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeCabangOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih kode cabang..."
                                    readonly="true">
                        </kendo-combobox>
                        <span asp-validation-for="KodeCabang" class="text-danger"></span>
                    </div>
            </div>
            <div class="form-group col-sm-3">
                    <label asp-for="JenisVoucher"></label>
                    <div>
                        <kendo-textbox for="JenisVoucher" style="width: 100%;" readonly="true"/>
                        <span asp-validation-for="JenisVoucher" class="text-danger"></span>
                    </div>
            </div>
            <div class="form-group col-sm-3">
                <label asp-for="DebetKredit"></label>
                <div>
                    <kendo-dropdownlist for="DebetKredit"
                                        style="width: 100%;"
                                        class="custom-kuning"
                                        datatextfield="Text"
                                        datavaluefield="Value"
                                        bind-to="ViewBag.DebetKreditOptions"
                                        readonly="true">
                    </kendo-dropdownlist>
                    <span asp-validation-for="DebetKredit" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
             <div class="form-group col-sm-4">
                <label asp-for="KodeKas">Kode Kas</label>
                <div>
                    <kendo-combobox for="KodeKas"
                                    style="width: 100%;"
                                    class="custom-kuning"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeKasOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih kode kas..."
                                    value="@Model.KodeKas" readonly="true">
                    </kendo-combobox>
                    <span asp-validation-for="KodeKas" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="FlagSementara" name="FlagSementara" 
                           @(Model.FlagSementara ? "checked" : "") >
                    <label class="form-check-label" for="FlagSementara" style="font-weight:bold;">Voucher Sementara</label>
                    
                    <input type="hidden" name="FlagSementara" value="@(Model.FlagSementara ? "true" : "false")" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                   <label asp-for="NoVoucher">Nomor Voucher</label>
                    <div>
                        <kendo-textbox for="NoVoucher" class="custom-kode" style="width: 100%;" readonly="true"/>
                        <span asp-validation-for="NoVoucher" class="text-danger"></span>
                    </div>
            </div>
            
            <div class="col-sm-6">
                <label asp-for="NoVoucherSementara">Nomor Voucher Sementara</label>
                <div>
                    <kendo-textbox for="NoVoucherSementara" class="custom-kode" style="width: 100%;" readonly="true"  />
                    <span asp-validation-for="NoVoucherSementara" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="form-group col-sm-12">
                <label>Kode Akun</label>
                <div>
                     <kendo-combobox for="KodeAkun" 
                                    style="width: 100%;" 
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeAkunOptions"
                                    readonly="true" 
                                    enable="false" /> 
                    <span asp-validation-for="KodeAkun" class="text-danger"></span>
                </div>
            </div>
        </div>


         <div class="row">
            <div class="form-group col-sm-12">
                <label id="labelDibayarKepada">Dibayar Kepada</label>
                <div>
                    <kendo-textbox for="DibayarKepada" style="width: 100%;"/>
                    <span asp-validation-for="DibayarKepada" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
           <div class="form-group col-sm-6">
                <label>Tanggal Voucher</label>
                <div>
                    @* LOGIC BARU: 
                        Readonly JIKA FlagFinal == true.
                        (FlagPosting tidak mempengaruhi tanggal lagi)
                    *@
                    <kendo-datepicker for="TanggalVoucher" 
                                    class="custom-kuning" 
                                    style="width: 100%"
                                    readonly="@(Model.FlagFinal)" /> 
                    <span asp-validation-for="TanggalVoucher" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-sm-6">
                    <label>Kode Mata Uang</label>
                    <div>
                         <kendo-combobox for="KodeMataUang"
                                    style="width: 100%;"
                                     class="custom-kuning"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.MataUangOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih mata uang..."
                                    readonly="true"
                                   > 
                        </kendo-combobox>
                        <span asp-validation-for="KodeMataUang" class="text-danger"></span>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label asp-for="JenisPembayaran"></label>
                <div>
                    
                        <kendo-dropdownlist for="JenisPembayaran"
                                            style="width: 100%;"
                                             class="custom-kuning"
                                            datatextfield="Text"
                                            datavaluefield="Value"
                                            bind-to="ViewBag.jenispembayaranOptions">
                            
                        </kendo-dropdownlist>
                    <span asp-validation-for="JenisPembayaran" class="text-danger"></span>
                </div>
            </div>
         </div>

        <div class="row">
   <div class="form-group col-sm-6">
            <label>Total Voucher</label>
            <div>
                 @* Tambahkan decimals, format, dan step *@
                 <kendo-numerictextbox for="TotalVoucher"  
                                       class="custom-kuning" 
                                       style="width: 100%"
                                       format="n2"
                                       decimals="2"
                                       step="0.01" />
                <span asp-validation-for="TotalVoucher" class="text-danger"></span>
            </div>
    </div>

    <div class="form-group col-sm-6">
            <label>Total Dalam Rupiah</label>
            <div>
                @* Tambahkan decimals dan format *@
                <kendo-numerictextbox for="TotalDalamRupiah" 
                                      style="width: 100%" 
                                      readonly="true"
                                      format="n2"
                                      decimals="2" />
                <span asp-validation-for="TotalDalamRupiah" class="text-danger"></span>
            </div>
    </div>
</div>

         <div class="row">
           <div class="form-group col-sm-12">
                    <label>Keterangan Voucher</label>
                    <div>
                          <kendo-textarea for="KeteranganVoucher" 
                                        name="KeteranganVoucher"  
                                        style="width:100%; background-color:#fff !important; border:1px solid #ced4da;"
                                        rows="4">@Model.KeteranganVoucher
                        </kendo-textarea>
                        <span asp-validation-for="KeteranganVoucher" class="text-danger"></span>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label asp-for="FlagPosting"></label>
                <div>
                    <button type="button" id="flagPosting-checkbox-ui" class="btn btn-default" style="border: 1px solid #ced4da; background-color: white;" disabled>
                        <i class="far fa-square" style="font-size: 1.2em;"></i> </button>
                    
                    <input type="hidden" asp-for="FlagPosting" />

                    <span asp-validation-for="FlagPosting" class="text-danger"></span>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="TanggalInput"></label>
                <div>
                    <kendo-datepicker for="TanggalInput" style="width: 100%;" readonly="true" />
                </div>
            </div>
             <div class="form-group col-sm-6">
                <label asp-for="TanggalUpdate"></label>
                <div>
                    <kendo-datepicker for="TanggalUpdate" style="width: 100%;" readonly="true" />
                </div>
            </div>
        </div>
        <div class="row">
           
            <div class="form-group col-sm-6">
                <label asp-for="KodeUserInput"> Kode User Input</label>
                <div>
                    <kendo-textbox for="KodeUserInput" style="width: 100%;" readonly="true" />
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="KodeUserUpdate"> Kode User Update</label>
                <div>
                    <kendo-textbox for="KodeUserUpdate" style="width: 100%;" readonly="true" />
                </div>
            </div>
        </div>

    </form>
</div>

<div class="window-footer">
    <button type="button" onclick="onSaveVoucherKas()" class="btn btn-success space-right">
        <span class="fa fa-save"></span> Save
    </button>
</div>
<script>
    $(document).ready(function() {
        var totalVoucher = $("#TotalVoucher").data("kendoNumericTextBox");
        if (totalVoucher) {
            // Mengambil nilai asli dari model (misal 12.54) dan memasukannya ulang
            var rawVal = @(Model.TotalVoucher.HasValue ? Model.TotalVoucher.Value.ToString(System.Globalization.CultureInfo.InvariantCulture) : "0");
            totalVoucher.value(rawVal);
        }

        var totalRp = $("#TotalDalamRupiah").data("kendoNumericTextBox");
        if (totalRp) {
            var rawValRp = @(Model.TotalDalamRupiah.HasValue ? Model.TotalDalamRupiah.Value.ToString(System.Globalization.CultureInfo.InvariantCulture) : "0");
            totalRp.value(rawValRp);
        }

        // 1. Logika Visual Icon Posting (Tetap)
        var hiddenInput = $("#FlagPosting");
        var icon = $('#flagPosting-checkbox-ui').find('i');
        
        // Cek status posting buat atur gambar kotak/centang
        if (hiddenInput.val().toLowerCase() === "true") {
            icon.removeClass('fa-square').addClass('fa-check-square');
        } else {
            icon.removeClass('fa-check-square').addClass('fa-square');
        }

        // 2. Logika Label (Tetap)
        var dkValue = "@Model.DebetKredit";
        if(dkValue && dkValue.toUpperCase() === "D"){
             $("#labelDibayarKepada").text("Diterima Dari");
        } else {
             $("#labelDibayarKepada").text("Dibayar Kepada");
        }

        // --- [PERBAIKAN UTAMA: LOGIC PENGUNCIAN TANGGAL] ---
        var tglVoucherPicker = $("#TanggalVoucher").data("kendoDatePicker");
        
        // Ambil status Final dari Model (bukan dari posting)
        var isFinal = @(Model.FlagFinal ? "true" : "false"); 

        if (tglVoucherPicker) {
            // Jika SUDAH FINAL -> Readonly TRUE (Terkunci)
            // Jika BELUM FINAL -> Readonly FALSE (Bisa Edit)
            tglVoucherPicker.readonly(isFinal);
        }
        // ----------------------------------------------------
    });
</script>