@using Kendo.Mvc.UI;
@model ABB.Web.Modules.EntriPenyelesaianPiutang.Models.EntriPenyelesaianPiutangViewModel
@using ABB.Application.EntriPenyelesaianPiutangs.Queries;
@using System.Text.Json;
@using ABB.Web.Modules.EntriPenyelesaianPiutang.Models; 

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    bool isEditMode = !string.IsNullOrEmpty(Model.PenyelesaianHeader?.NomorBukti);
    // PERBAIKAN: Siapkan JSON di sini agar aman dari error syntax
    var itemsForJson = Model.PembayaranItems ?? new List<PenyelesaianPiutangItem>();
    var initialDetailsJson = JsonSerializer.Serialize(itemsForJson);
}
<style>
    .custom-kode .k-input,
    .custom-kode .k-input,
   .custom-kode,
    .custom-kode .k-textbox,
    .custom-kode .k-input,
    .custom-kode input {
        background-color: #00FFFF !important;
    }
    /* No Rekening – warna kuning muda */
    .custom-kuning,
    .custom-kuning .k-textbox,
    .custom-kuning .k-input,
    .custom-kuning input {
        background-color: rgb(255, 255, 225) !important;
    }


</style>


<div class="window-body">
   <form id="PenyelesaianPiutangFormFinal">
        <fieldset>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kode Cabang</label>
                <div class="col-sm-4">
                     <kendo-combobox name="PenyelesaianHeader.KodeCabang_Lihat"
                                    style="width: 100%;"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.KodeCabangOptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih Cabang..."
                                    value="@Model.PenyelesaianHeader.KodeCabang"
                                    text="@ViewBag.DisplayCabang"
                                    readonly="true"
                                    auto-bind="true"
                                   >
                    </kendo-combobox>
                </div>
            </div>
            
             <div class="form-group row">
                <label class="col-sm-2 col-form-label">Jenis Penyelesaian</label>
                <div class="col-sm-2">
                    <kendo-dropdownlist id="JenisPenyelesaianPrefix_Lihat"
                                                style="width: 50%;"
                                                datatextfield="Text"
                                                datavaluefield="Value"
                                                bind-to="ViewBag.JenisPenyelesaianOptions"
                                                readonly="true"
                                                name="PenyelesaianHeader.JenisPenyelesaian_Lihat"
                                                >
                    </kendo-dropdownlist>
                
                </div>
                <div class="col-sm-2">
                        <kendo-textbox id="JenisPenyelesaianSuffix_Lihat" readonly="true" value="Memorial" style="font-size: 12px;" />
                            <input type="hidden" name="PenyelesaianHeader.JenisPenyelesaian_Lihat"  />
                </div>
            </div>
             <div class="form-group row">
              
                 <label  class="col-sm-2 col-form-label"> Nomor Bukti</label>
                <div class="col-sm-4">
                     <kendo-textbox name="PenyelesaianHeader.NomorBukti_Lihat"  value="@Model.PenyelesaianHeader.NomorBukti" class="custom-kode" style="width: 100%;" readonly="true" placeholder="[AUTO]" />
                </div>
            </div>
            
            <div class="form-group row">
              
                 <label  class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.KodeVoucherAcc">Nomor Voucher Referensi</label>
                <div class="col-sm-4">
                   <kendo-textbox name="PenyelesaianHeader.KodeVoucherAcc_Lihat" value="@Model.PenyelesaianHeader.KodeVoucherAcc" class="custom-kuning" style="width: 100%;" />
                </div>
            </div>
            
        </fieldset>
        
        <hr/>

        <fieldset>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.Tanggal"></label>
                <div class="col-sm-4">
                    <kendo-datepicker readonly="true" value="@Model.PenyelesaianHeader.Tanggal" name="PenyelesaianHeader.Tanggal_Lihat" style="width: 100%;" />
                </div>
                <div class="col-sm-3"></div>
                <label class="col-sm-1 col-form-label" asp-for="PenyelesaianHeader.TanggalInput">Tanggal Input</label>
                <div class="col-sm-2">
                    <kendo-datepicker value="@Model.PenyelesaianHeader.TanggalInput" name="PenyelesaianHeader.TanggalInput_Lihat" style="width: 100%;" readonly="true" />
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.MataUang">Mata Uang</label>
                <div class="col-sm-4">
                     <kendo-combobox name="PenyelesaianHeader.MataUang_Lihat"
                                    style="width: 100%;"
                                    class="custom-kuning"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.MataUangOptions"
                                    filter="FilterType.Contains"
                                    value="@Model.PenyelesaianHeader.MataUang"
                                    placeholder="Pilih Mata Uang...">
                    </kendo-combobox>
                </div>

                 <div class="col-sm-3"></div>
                <label class="col-sm-1 col-form-label" asp-for="PenyelesaianHeader.KodeUserInput">Kode User Input</label>
                <div class="col-sm-2">
                    <kendo-textbox name="PenyelesaianHeader.KodeUserInput_Lihat" value="@Model.PenyelesaianHeader.KodeUserInput" style="width: 100%;" readonly="true" />
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.TotalOrg">Total </label>
                <div class="col-sm-2">
                    <kendo-numerictextbox name="PenyelesaianHeader.TotalOrg_Lihat" 
                                          value="@((double?)Model.PenyelesaianHeader?.TotalOrg)" 
                                          format="n2" decimals="2" 
                                          class="custom-kuning" style="width: 50%;" />
                </div>
                  <label class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.TotalRp">(Dalam Rupiah)</label>
              
               <div class=" col-sm-2">
                    <kendo-numerictextbox name="PenyelesaianHeader.TotalRp_Lihat" 
                                          value="@((double?)Model.PenyelesaianHeader?.TotalRp)" 
                                          readonly="true" 
                                          format="n2" decimals="2" 
                                          style="width: 50%;" />
                </div>
                <div class=" col-sm-1">
                    <kendo-dropdownlist  name="PenyelesaianHeader.DebetKredit_Lihat"
                                        style="width: 100%;"
                                        class="custom-kuning"
                                        datatextfield="Text"
                                        datavaluefield="Value"
                                        bind-to="ViewBag.DebetKreditOptions"
                                        value="@Model.PenyelesaianHeader.DebetKredit"
                                        >
                    </kendo-dropdownlist>
                </div>
                <label class="col-sm-1 col-form-label" asp-for="PenyelesaianHeader.TanggalUpdate">Tanggal Update</label>
                <div class="col-sm-2">
                    <kendo-datepicker name="PenyelesaianHeader.TanggalUpdate_Lihat" value="@Model.PenyelesaianHeader.TanggalUpdate" style="width: 100%;" readonly="true" />
           
                </div>
            </div>
             
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.KodeAkun">Kode Akun</label>
                <div class="col-sm-4">
                    <kendo-combobox name="PenyelesaianHeader.KodeAkun_Lihat"
                                    style="width:100%;"
                                    class="custom-kuning"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.COAoptions"
                                    filter="FilterType.Contains"
                                    value="@Model.PenyelesaianHeader.KodeAkun"
                                    placeholder="Pilih Akun...">
                    </kendo-combobox>
                </div>

                <div class="col-sm-3"></div>
                  <label class="col-sm-1 col-form-label" asp-for="PenyelesaianHeader.KodeUserUpdate">Kode User Update</label>
                 
                <div class="col-sm-2">
                    <kendo-textbox name="PenyelesaianHeader.KodeUserUpdate_Lihat" value="@Model.PenyelesaianHeader.KodeUserUpdate" style="width: 100%;" readonly="true" />
            
                </div>
            </div>
            
           
            <div class="form-group row">
                 <label class="col-sm-2 col-form-label" asp-for="PenyelesaianHeader.Keterangan"></label>
                <div class="form-group col-sm-4">
                    <kendo-textarea name="PenyelesaianHeader.Keterangan_Lihat"  value="@Model.PenyelesaianHeader?.Keterangan"  style="width: 100%;" rows="3"></kendo-textarea>
                </div>

                 <div class="col-sm-3"></div>
                 <label class="col-sm-1 col-form-label" asp-for="PenyelesaianHeader.FlagPosting">flag Posting</label>
                
                <div class="col-sm-2">
                    <input type="checkbox" id="FlagPostingCheckbox" class="k-checkbox" 
                               @(Model.PenyelesaianHeader?.FlagPosting == true ? "checked" : "") disabled />
                
                </div>
            </div>
           
        </fieldset>
    </form>
   
    <hr>
     <form id="NewPaymentFinalForm">
        <input type="hidden" id="No" asp-for="No" />
        <div class="row">
           <div class="form-group col-sm-2">
                <label asp-for="FlagPembayaran"></label>
                <div>
                    <kendo-dropdownlist name="FlagPembayaran_Lihat"
                                        style="width: 100%;"
                                        datatextfield="Text"
                                        datavaluefield="Value"
                                        bind-to="ViewBag.FlagPembayaranOptions">
                        
                    </kendo-dropdownlist>
                    <span asp-validation-for="FlagPembayaran" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-sm-3" id="notaField_Lihat"> 
                <label asp-for="NoNota"></label>
                <div class="input-group" style=" display: flex;     width: 100%;     flex-direction: row;     flex-wrap: nowrap;     align-content: center;     justify-content: center;     align-items: center; ">
                    <kendo-textbox name="NoNota_Lihat" style="width:100%;" readonly="true" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info" disabled>Select</button>
                    </div>
                </div>
            </div>

            @(Html.Kendo().Window()
                .Name("PilihNotaWindow")
                .Title("Pilih Nota Produksi")
                .Width(800)
                .Modal(true)
                .Visible(false)
                .Draggable(true)
            )


            <div class="form-group col-sm-2" id="akunField_Lihat" style="display:none;">
                <label asp-for="KodeAkun"></label>
                <div>
                    <kendo-combobox name="KodeAkun_Lihat"
                                    style="width:100%;"
                                    datatextfield="Text"
                                    datavaluefield="Value"
                                    bind-to="ViewBag.COAoptions"
                                    filter="FilterType.Contains"
                                    placeholder="Pilih Akun..." value="@Model.PenyelesaianHeader?.KodeAkun" >
                    </kendo-combobox>
                    <span asp-validation-for="KodeAkun" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-sm-2 detail-payment-field-final">
               
                        <label asp-for="KodeMataUang"></label>
                        <div>
                            <kendo-combobox name="KodeMataUang_Lihat"
                                            style="width: 100%;"
                                            datatextfield="Text"
                                            datavaluefield="Value"
                                            bind-to="ViewBag.MataUangOptions"
                                            filter="FilterType.Contains"
                                            placeholder="Pilih ..."
                                        > 
                            </kendo-combobox>
                            <span asp-validation-for="KodeMataUang" class="text-danger"></span>
                        </div>
              
            </div>
           
            <div class="form-group col-sm-2 detail-payment-field-final">
               
                    <label asp-for="TotalBayarOrg">Total Original</label>
                    <kendo-numerictextbox name="TotalBayarOrg_Lihat" format="n0" style="width:100%;" />
               
            </div>


            <div class="form-group col-sm-2 detail-payment-field-final">
                
                    <label asp-for="TotalBayarRp">Total Dalam Rupiah</label>
                    <kendo-numerictextbox name="TotalBayarRp_Lihat" format="n0" style="width:100%;" readonly="true" />
               
            </div>


            <div class="form-group col-sm-2 detail-payment-field-final">
                
                    <label asp-for="DebetKredit"></label>
                    <div>
                        <kendo-dropdownlist name="DebetKredit_Lihat"
                                            style="width: 100%;"
                                            datatextfield="Text"
                                            datavaluefield="Value"
                                            bind-to="ViewBag.DebetKreditOptions">
                            
                        </kendo-dropdownlist>
                        <span asp-validation-for="DebetKredit" class="text-danger"></span>
                    </div>
               
            </div>
        </div>
    </form>
    <div style="display: flex;gap: 10px;justify-content: flex-end;">
        <!-- <button type="button" id="btn-cancel-edit-final" class="btn btn-secondary" style="display: none;" onclick="clearFinalPaymentForm()">Cancel</button>
        <button type="button" id="btn-save-pembayaran-final" onclick="onFinalSavePembayaran()" class="btn btn-primary">Simpan Pembayaran</button> -->
    </div>
    
    <script>
    function getNoBuktiFinalForDetailGrid() {
        no_bukti= $("#PenyelesaianHeader_NomorBukti_Lihat").val()
        console.log( "No Bukti",no_bukti)
         return { NoBukti: $("#PenyelesaianHeader_NomorBukti_Lihat").val() };
         
    }

  $(document).ready(function () {
    $("#NewPaymentFinalForm").hide();
  
        // Ambil instance dropdownlist dari Kendo
        var ddl = $("#FlagPembayaran_Lihat").data("kendoDropDownList");

        // Daftarkan event change
       ddl.bind("change", function (e) {
            var value = this.value();
            if (value && value.toUpperCase() === "AKUN") {
                $("#akunField_Lihat").show();
                $("#notaField_Lihat").hide();
                $(".detail-payment-field-final").show();
                // $("#btn-save-pembayaran").show();
            } else if (value && value.toUpperCase() === "NOTA") {
                $("#notaField_Lihat").show();
                $("#akunField_Lihat").show();
                $(".detail-payment-field-final").show();
                // $("#btn-save-pembayaran").hide();
            } else {
                $("#notaField_Lihat").hide();
                $("#akunField_Lihat").hide();
                $(".detail-payment-field-final").hide();
                // $("#btn-save-pembayaran-final").hide();
            }
        });

        // Panggil event 'change' sekali saat form dimuat untuk mengatur tampilan awal
        ddl.trigger("change");
    });

    
</script>
    

    @(Html.Kendo().Grid<EntriPenyelesaianPiutangDto>() // <-- Gunakan DTO yang benar
        .Name("DetailPembayaranGrid")
        .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetDetailPembayaran", "EntriPenyelesaianPiutang")
                .Data("getNoBuktiFinalForDetailGrid"))
        )
        .Columns(cols => {
            cols.Bound(c => c.No).Title("No.").Width(100);
            cols.Bound(c => c.FlagPembayaran).Title("Flag Pembayaran").Width(150);
            cols.Bound(c => c.NoNota).Title("Nomor Nota").Width(150);
            cols.Bound(c => c.KodeAkun).Title("Kode Akun").Width(150);
            cols.Bound(c => c.KodeMataUang).Title("Kode Mata Uang").Width(150);
            cols.Bound(c => c.TotalBayarOrg).Format("{0:n2}").Width(150);
            cols.Bound(c => c.TotalBayarRp).Format("{0:n2}").Width(150);
            cols.Bound(c => c.DebetKredit).Title("D/K") .ClientTemplate("#= DebetKredit == 'D' ? 'Debet' : (DebetKredit == 'K' ? 'Kredit' : '') #").Width(150);
            cols.Command(command => {
            command.Custom("EditDetail").Text("Edit").Click("onEditFinalPembayaran");
            //command.Custom("DeleteDetail").Text("Delete").Click("onDeletePembayaran");
        }).Title("Action").Width(180);
        })
        .NoRecords(nr => nr.Template("Belum ada pembayaran")).Pageable(pager => pager.Refresh(true))
                .Sortable()
                .Filterable()
                .Scrollable()
                .Resizable(a=>a.Columns(true))
                .Events(ev => ev.DataBound("updateGridFooterLihat"))
    )

    
</div>



<div class="window-footer" 
     data-total-penyelesaian-original-final="@(Model.PenyelesaianHeader?.TotalRp.HasValue == true ? Model.PenyelesaianHeader.TotalRp.Value.ToString(System.Globalization.CultureInfo.InvariantCulture) : "0")" 
     id="TotalBuktiOrg_Lihat" 
     style="font-weight: bold; display: flex; justify-content: center; flex-direction: row; align-items: center;">
    
    <div style="padding-right: 20px; font-size: 15px;">
        <span>Total Bukti: </span>
        <span id="voucherTotal_Lihat">@((Model.PenyelesaianHeader?.TotalRp ?? 0).ToString("N2"))</span>
        
        <span style="margin-left: 20px;">Total Penyelesaian : </span>
        <span id="pembayaranTotal_Lihat" style="color: green;">0.00</span>

        <span style="margin-left: 20px;">Total Sisa Penyelesaian : </span>
        <span id="sisapembayaranTotal_Lihat" style="color: green;">0.00</span>
    </div>
</div>


