@using ABB.Application.MutasiKlaims.Queries
@using Kendo.Mvc.UI
@model ABB.Web.Modules.MutasiKlaim.Models.MutasiKlaimViewModel

@{
    var display = Model.flag_closing == "N" ? "" : "none";
}

<script>
function OnClickAddMutasiKlaimObyek(kd_cb, kd_cob, kd_scob, kd_thn, no_kl, no_mts) {
    openMutasiKlaimWindow(`/MutasiKlaim/Obyek?kd_cb=${kd_cb}&kd_cob=${kd_cob}&kd_scob=${kd_scob}&kd_thn=${kd_thn}&no_kl=${no_kl}&no_mts=${no_mts}`, 'Add Obyek');
}

function OnClickCopyObyek(kd_cb, kd_cob, kd_scob, kd_thn, no_kl, no_mts) {
    showConfirmation('Confirmation', `Are you sure you want to copy obyek?`,
        function () {

            var parentId =
                kd_cb.trim() +
                kd_cob.trim() +
                kd_scob.trim() +
                kd_thn.trim() +
                no_kl.trim();

            var payload = {
                kd_cb: kd_cb,
                kd_cob: kd_cob,
                kd_scob: kd_scob,
                kd_thn: kd_thn,
                no_kl: no_kl,
                no_mts: no_mts
            };

            showProgressOnGrid('#grid_obyek_' + parentId);

            ajaxPost("/MutasiKlaim/CopyObyek", JSON.stringify(payload),
                function (response) {
                    if (response.Result == "OK") {
                        showMessage('Success', "Berhasil Copy Obyek");
                    } else
                        showMessage('Error', response.Message);

                    refreshGrid('#grid_obyek_' + parentId);
                    closeProgressOnGrid('#grid_obyek_' + parentId);
                }
            );
        }
    );
}

function OnClickCopyObyekUnderwriting(kd_cb, kd_cob, kd_scob, kd_thn, no_kl, no_mts, no_rsk) {
    showConfirmation('Confirmation', `Are you sure you want to copy obyek underwriting?`,
        function () {

            var parentId =
                kd_cb.trim() +
                kd_cob.trim() +
                kd_scob.trim() +
                kd_thn.trim() +
                no_kl.trim();

            var payload = {
                kd_cb: kd_cb,
                kd_cob: kd_cob,
                kd_scob: kd_scob,
                kd_thn: kd_thn,
                no_kl: no_kl,
                no_mts: no_mts,
                no_rsk: no_rsk
            };

            showProgressOnGrid('#grid_obyek_' + parentId);

            ajaxPost("/MutasiKlaim/CopyObyekUnderwriting", JSON.stringify(payload),
                function (response) {
                    if (response.Result == "OK") {
                        showMessage('Success', "Berhasil Copy Obyek Underwriting");
                    } else
                        showMessage('Error', response.Message);

                    refreshGrid('#grid_obyek_' + parentId);
                    closeProgressOnGrid('#grid_obyek_' + parentId);
                }
            );
        }
    );
}

</script>

<style>
    .flat-btn-primary{
        padding: 10px 0px;
    }
</style>

@{
    var id = Model.kd_cb.Trim() + Model.kd_cob.Trim() +
            Model.kd_scob.Trim() + Model.kd_thn.Trim() + Model.no_kl.Trim();
}

<div class="row col-sm-12" style="display: @display">
    <div class="col-md-1">
        <button class="flat-btn-primary" style="height: 1em" onclick="OnClickAddMutasiKlaimObyek('@Model.kd_cb', '@Model.kd_cob', '@Model.kd_scob', '@Model.kd_thn', '@Model.no_kl', '@Model.no_mts')">Add Obyek</button>
    </div>
    <div class="col-md-1">
        <button class="flat-btn-primary" style="height: 1em" onclick="OnClickCopyObyek('@Model.kd_cb', '@Model.kd_cob', '@Model.kd_scob', '@Model.kd_thn', '@Model.no_kl', '@Model.no_mts')">Copy Obyek</button>
    </div>
    <div class="col-md-1">
        <button class="flat-btn-primary" style="height: 1em" onclick="OnClickCopyObyekUnderwriting('@Model.kd_cb', '@Model.kd_cob', '@Model.kd_scob', '@Model.kd_thn', '@Model.no_kl', '@Model.no_mts', '@Model.no_rsk')">Copy Obyek U / W</button>
    </div>
</div>

@(Html.Kendo().Grid<MutasiKlaimObyekDto>()
        .Name("grid_obyek_" + id)
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("GetMutasiKlaimObyeks", "MutasiKlaim").Data("dataParameterMutasi"))
            .Model(model => model.Id(p => p.Id))
        )
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("EditObyek")
                    .Text("Edit")
                    .IconClass("fa fa-pencil-alt")
                    .HtmlAttributes(new { title = "Edit" })
                    .Click("onEditObyek");
                command.Custom("ViewObyek")
                    .Text("View")
                    .IconClass("fa fa-eye")
                    .HtmlAttributes(new { title = "View" })
                    .Click("onViewObyek");
                command.Custom("DeleteObyek")
                    .Text("Delete")
                    .IconClass("k-icon k-i-delete")
                    .HtmlAttributes(new { title = "Delete" })
                    .Click("onDeleteObyek");
            }).Width(250).Title("Action").Locked(true);
            columns.Bound(col => col.no_oby).Width(150).Title("Nomor Obyek");
            columns.Bound(col => col.nm_oby).Width(200).Title("Nama Obyek");
            columns.Bound(col => col.nilai_ttl_ptg).Width(200).Title("Nilai Pertanggungan").Format("{0:n2}");
            columns.Bound(col => col.nilai_kl).Width(150).Title("Nilai Klaim").Format("{0:n2}");
        })
        .Pageable(pager => pager
            .Refresh(true)
            .Info(true)
            .PageSizes(true)
        )
        .Sortable()
        .Filterable()
        .Scrollable()
        .Selectable()
        .Height(450)
        .Resizable(a => a.Columns(true))
        .Events(ev => ev.DataBound("OnMutasiKlaimObyekDataBound"))

    )
    