@using ABB.Application.Akseptasis.Queries
@using ABB.Application.MutasiKlaims.Queries
@using Kendo.Mvc.UI
@model ABB.Web.Modules.MutasiKlaim.Models.MutasiKlaimViewModel

@{
    var id = Model.kd_cb.Trim() + Model.kd_cob.Trim() +
            Model.kd_scob.Trim() + Model.kd_thn.Trim() + Model.no_kl.Trim();
    var display = Model.flag_closing.Trim() == "N" ? "" : "none";
}

<style>
    .flat-btn-primary{
        padding: 10px 0px;
    }
</style>

<div class="row" style="display: @display">
    <div class="col-md-2">
        <button class="flat-btn-primary" style="height: 1em" onclick="OnClickAddMutasiKlaimRecovery('@Model.kd_cb', '@Model.kd_cob', '@Model.kd_scob', '@Model.kd_thn', '@Model.no_kl', '@Model.no_mts', '@Model.tipe_mts', '@Model.kd_mtu')">Add Recovery</button>
    </div>
</div>

@(Html.Kendo().Grid<MutasiKlaimBebanDto>()
        .Name("grid_obyek_" + id)
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("GetMutasiKlaimBebans", "MutasiKlaim").Data("dataParameterMutasi"))
            .Model(model => model.Id(p => p.Id))
        )
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("EditRecovery")
                    .Text("Edit")
                    .IconClass("fa fa-pencil-alt")
                    .HtmlAttributes(new { title = "Edit" })
                    .Click("onEditRecovery");
                command.Custom("ViewRecovery")
                    .Text("View")
                    .IconClass("fa fa-eye")
                    .HtmlAttributes(new { title = "View" })
                    .Click("onViewRecovery");
                command.Custom("DeleteRecovery")
                    .Text("Delete")
                    .IconClass("k-icon k-i-delete")
                    .HtmlAttributes(new { title = "Delete" })
                    .Click("onDeleteRecovery");
            }).Width(250).Title("Action").Locked(true);
            columns.Bound(col => col.no_urut).Width(100).Title("No Urut");
            columns.Bound(col => col.ket_jns).Width(200).Title("Keterangn");
            columns.Bound(col => col.nilai_jns_org).Width(150).Title("Nilai Recovery").Format("{0:n2}");
            columns.Bound(col => col.nilai_jns).Width(250).Title("Nilai Recovery Sesuai Mutasi").Format("{0:n2}");
        })
        .Pageable(pager => pager
            .Refresh(true)
            .Info(true)
            .PageSizes(true)
        )
        .Sortable()
        .Filterable()
        .Scrollable()
        .Selectable()
        .Height(450)
        .Resizable(a => a.Columns(true))
        .Events(ev => ev.DataBound("OnMutasiKlaimBebanDataBound"))

    )
    