@using Kendo.Mvc.UI
@model ABB.Web.Modules.KontrakTreatyKeluarXOL.Models.DetailKontrakTreatyKeluarXOLViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

<script src="~/Modules/KontrakTreatyKeluarXOL/JS/kontrakTreatyKeluarXOL.Detail.form.js"></script>
<script src="~/Modules/KontrakTreatyKeluarXOL/JS/kontrakTreatyKeluarXOLDetail.edit.js"></script>

@Html.AntiForgeryToken()
<form id="DetailKontrakTreatyKeluarXOLForm" enctype="multipart/form-data">
    <div class="window-body" style="background-color: lightgray">
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Group</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_pas" value="@Model.kd_grp_pas">
                    <kendo-dropdownlist for="kd_grp_pas" style="width: 100%" on-change="OnKodePasChange" option-label="Pilih Kode Persh Asuransi"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" readonly="true">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodePas", "KontrakTreatyKeluarXOL")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_pas" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-12">
                    <input type="hidden" id="temp_kd_rk_pas" value="@Model.kd_rk_pas">
                    <kendo-dropdownlist for="kd_rk_pas" style="width: 100%" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "KontrakTreatyKeluarXOL")" data="dataKodePasDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_pas" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Sumber Bisnis</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_sb_bis" value="@Model.kd_grp_sb_bis">
                    <kendo-dropdownlist for="kd_grp_sb_bis" style="width: 100%" on-change="OnKodeSbBisChange" option-label="Pilih Sumber Bisnis"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetSumberBisnis", "KontrakTreatyKeluarXOL")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_sb_bis" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-12">
                    <input type="hidden" id="temp_kd_rk_sb_bis" value="@Model.kd_rk_sb_bis">
                    <kendo-dropdownlist for="kd_rk_sb_bis" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "KontrakTreatyKeluarXOL")" data="dataKodeSbBisDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_sb_bis" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Share (%)</label>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" max="100" decimals="2" for="pst_share" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="pst_share" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Komisi (%)</label>
                <div class="col-sm-3">
                    <kendo-numerictextbox spinners="false" max="100" decimals="2" for="pst_com" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="pst_com" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="window-footer">
        <button type="button" id="btn-save-detailKontrakTreatyKeluarXOL" class="btn btn-primary space-right">Save</button>
    </div>
</form>
