@using Kendo.Mvc.UI
@model ABB.Web.Modules.PLAReasuransi.Models.PLAReasuransiViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    var nomor_pla_reasuransi = Model.kd_cb.Trim() + " . " + Model.kd_cob.Trim() + Model.kd_scob.Trim() + " . " + 
                              Model.kd_thn.Trim() + " . " + Model.no_kl.Trim()+ " . " + Model.no_mts + " . " + 
                              Model.no_pla;
}

<script src="~/Modules/PLAReasuransi/JS/plaReasuransi.edit.js"></script>

@Html.AntiForgeryToken()
<form id="PLAReasuransiForm" enctype="multipart/form-data">
    <div class="window-body" style="background-color: lightgray">
        @Html.HiddenFor(m => m.kd_thn)
        @Html.HiddenFor(m => m.no_kl)
        @Html.HiddenFor(m => m.no_mts)
        @Html.HiddenFor(m => m.kd_thn)
        @Html.HiddenFor(m => m.no_pla)
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Cabang</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_cb" value="@Model.kd_cb">
                    <kendo-dropdownlist for="kd_cb" style="width: 100%" on-change="OnKodeCabangChange" option-label="Pilih Cabang" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCabang", "PLAReasuransi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cb" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode COB</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_cob" value="@Model.kd_cob">
                    <kendo-dropdownlist for="kd_cob" style="width: 100%" on-change="OnKodeCOBChange" option-label="Pilih COB" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCOB", "PLAReasuransi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cob" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode SCOB</label>
                <div class="col-sm-6">
                <input type="hidden" id="temp_kd_scob" value="@Model.kd_scob">
                    <kendo-dropdownlist for="kd_scob" style="width: 100%" option-label="Pilih SCOB" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetSCOB", "PLAReasuransi")" data="dataKodeSCOBDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_scob" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor PLA Reasuransi</label>
                <div class="col-sm-6">
                    <kendo-textbox name="temp_nomor_pla_reasuransi" value="@nomor_pla_reasuransi" readonly="true" style="width: 100%"/>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Persh Asuransi</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_pas" value="@Model.kd_grp_pas">
                    <kendo-dropdownlist for="kd_grp_pas" style="width: 100%" on-change="OnKodePasChange" option-label="Pilih Kode Persh Asuransi" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodePas", "PLAReasuransi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_pas" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-12">
                    <input type="hidden" id="temp_kd_rk_pas" value="@Model.kd_rk_pas">
                    <kendo-dropdownlist for="kd_rk_pas" style="width: 100%" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekananPas", "PLAReasuransi")" data="dataKodePasDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_pas" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Keterangan PLA Reasuransi</label>
                <div class="col-sm-9">
                    <kendo-textarea name="ket_pla" rows="5" style="width: 100%; background-color: white">@Model.ket_pla</kendo-textarea>
                    <span asp-validation-for="ket_pla" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="row col-sm-6">
                <input type="hidden" id="tempFlag_posting" value="@Model.flag_posting">
                <label class="col-sm-6">Flag Posting</label>
                <div class="col-sm-6">
                    <label>
                        <input type="checkbox" class="k-checkbox" id="flag_posting"/>
                    </label>
                    <span asp-validation-for="flag_posting" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="window-footer">
        <button type="button" id="btn-save-pla-reasuransi" class="btn btn-primary space-right">Save</button>
    </div>
</form>
