@using Kendo.Mvc.UI
@model ABB.Web.Modules.Akseptasi.Models.AkseptasiViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/Akseptasi/Components/Akseptasi/akseptasi.js"></script>

<style>
    p {
        margin: 0px;
        padding: 0px;
    }
    label {
        align-content: center;
    }
</style>

@{
    var nomor_aksepatsi = Model.kd_cb.Trim() + "." + Model.kd_cob.Trim() +
                          Model.kd_scob.Trim() + "." + Model.kd_thn.Trim() + "." + Model.no_aks.Trim();
}

<div class="window-body" style="background-color: lightgray">
    <form id="AkseptasiForm" enctype="multipart/form-data" autocomplete="off">
    @Html.HiddenFor(h => h.no_endt)
    @Html.HiddenFor(h => h.link_file)
    @Html.HiddenFor(h => h.IsEdit)
    @Html.HiddenFor(h => h.no_pol_ttg)
    <div class="form-group row">
        <div class="row col-sm-6">
            <label class="col-sm-6">Kode Cabang</label>
            <div class="col-sm-6">
                <input type="hidden" id="temp_kd_cb" value="@Model.kd_cb">
                <kendo-dropdownlist for="kd_cb" style="width: 100%" on-change="OnKodeCabangChange" option-label="Pilih Cabang"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown" >
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetCabang", "Akseptasi")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
                <span asp-validation-for="kd_cb" class="text-danger"></span>
            </div>
        </div>
        <div class="row col-sm-6">
            <label class="col-sm-6">Nomor Pengajuan</label>
            <div class="col-sm-6">
                <kendo-textbox for="nomor_pengajuan" readonly="true" style="width: 100%"/>
                <span asp-validation-for="nomor_pengajuan" class="text-danger"></span>
            </div>
        </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode COB</label>
                <div class="col-sm-6">
                <input type="hidden" id="temp_kd_cob" value="@Model.kd_cob">
                    <kendo-dropdownlist for="kd_cob" style="width: 100%" on-change="OnKodeCOBChange" option-label="Pilih COB"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCOB", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cob" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">No. Polis Induk</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="no_pol_induk" style="width: 100%" on-change="OnPolisIndukChange" option-label="Pilih Polis Induk"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetNomorPolisInduk", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="no_pol_induk" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode SCOB</label>
                <div class="col-sm-6">
                <input type="hidden" id="temp_kd_scob" value="@Model.kd_scob">
                    <kendo-dropdownlist for="kd_scob" style="width: 100%" on-change="OnKodeSCOBChange" option-label="Pilih SCOB"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetSCOB", "Akseptasi")" data="dataKodeSCOBDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_scob" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Update</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" format="#" for="no_updt" readonly="true" style="width: 100%; background-color: #00FFFF"/>
                    <span asp-validation-for="no_updt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Akseptasi</label>
                <div class="col-sm-6">
                    <input type="hidden" id="kd_thn" value="@Model.kd_thn">
                    <input type="hidden" id="no_aks" value="@Model.no_aks">
                    <kendo-textbox name="temp_nomor_akseptasi" value="@nomor_aksepatsi" readonly="true" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Renewal</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_renew" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="no_renew" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Update</label>
                <div class="col-sm-6">
                    <kendo-textbox for="kd_updt" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="kd_updt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Tahun Underwriting</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" format="#" for="thn_uw" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="thn_uw" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Polis Lama</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_pol_lama" style="width: 100%"/>
                    <span asp-validation-for="no_pol_lama" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Status Akseptasi</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="st_aks" style="width: 100%" option-label="Pilih Status Akseptasi"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetStatusAkseptasi", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="st_aks" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Sumber Bisnis</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_sb_bis" value="@Model.kd_grp_sb_bis">
                    <kendo-dropdownlist for="kd_grp_sb_bis" style="width: 100%" on-change="OnKodeSumberBisnisChange" option-label="Pilih Kode Sumber Bisnis"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="not-null-dropdown" >
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeTertanggung", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_sb_bis" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_rk_sb_bis" value="@Model.kd_rk_sb_bis">
                    <kendo-dropdownlist for="kd_rk_sb_bis" style="width: 100%" class="not-null-dropdown" on-change="OnKodeRekananSumberBisnisChange"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "Akseptasi")" data="dataKodeSumberBisnisDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_sb_bis" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Tertanggung</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_ttg" value="@Model.kd_grp_ttg">
                    <kendo-dropdownlist for="kd_grp_ttg" style="width: 100%" on-change="OnKodeTertanggungChange" option-label="Pilih Kode Tertanggung"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeTertanggung", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_ttg" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_rk_ttg" value="@Model.kd_rk_ttg">
                    <kendo-dropdownlist for="kd_rk_ttg" style="width: 100%" on-change="OnKodeRekananTertanggungChange"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "Akseptasi")" data="dataKodeTertanggungDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Nama Tertanggung</label>
                <div class="col-sm-9">
                    <kendo-textbox for="nm_ttg" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nm_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Alamat Tertanggung</label>
                <div class="col-sm-9">
                    <kendo-textarea name="almt_ttg" rows="2" style="width: 100%; background-color: white">@Model.almt_ttg</kendo-textarea>
                    <span asp-validation-for="almt_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Kota</label>
                <div class="col-sm-9">
                    <kendo-textbox for="kt_ttg" style="width: 100%"/>
                    <span asp-validation-for="kt_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Nama QQ</label>
                <div class="col-sm-9">
                    <kendo-textbox for="nm_qq" style="width: 100%"/>
                    <span asp-validation-for="nm_qq" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Periode Pertanggungan</label>
                <div class="col-sm-6 row">
                    <div class="col-sm-5">
                        <kendo-datepicker for="tgl_mul_ptg" style="width: 100%; background-color: #FFFFE1" on-change="OnTglMulChange"/>
                        <span asp-validation-for="tgl_mul_ptg" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2" style="align-content: center">
                        <p>s/d</p>
                    </div>
                    <div class="col-sm-5">
                        <kendo-datepicker for="tgl_akh_ptg" style="width: 100%; background-color: #FFFFE1" on-change="OnTglAkhChange"/>
                        <span asp-validation-for="tgl_akh_ptg" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Share (%)</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" for="pst_share_bgu" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="pst_share_bgu" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Jangka Waktu Pertanggungan</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" format="#" for="jk_wkt_ptg" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="jk_wkt_ptg" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Faktor Periode</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox for="faktor_prd" style="width: 100%; background-color: #FFFFE1" spinners="false"/>
                    <span asp-validation-for="faktor_prd" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Status Polis</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="st_pas" style="width: 100%" option-label="Pilih Status Polis" class="not-null-dropdown"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetStatusPolis", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="st_pas" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Status Cover Polis</label>
                <div class="col-sm-6">
                    <kendo-dropdownlist for="st_cover" style="width: 100%" option-label="Pilih Status Cover Polis"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetStatusCoverPolis", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="st_pas" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Persh Asuransi</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_pas" value="@Model.kd_grp_pas">
                    <kendo-dropdownlist for="kd_grp_pas" style="width: 100%" on-change="OnKodePershAsuransiChange" option-label="Pilih Kode Persh Asuransi"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodePersAsuransi", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_pas" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_rk_pas" value="@Model.kd_rk_pas">
                    <kendo-dropdownlist for="kd_rk_pas" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "Akseptasi")" data="dataKodePershAsuransiDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_pas" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Broker / Agen</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_brk" value="@Model.kd_grp_brk">
                    <kendo-dropdownlist for="kd_grp_brk" style="width: 100%" on-change="OnKodeBrokerChange" option-label="Pilih Kode Broker / Agen"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeBroker", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_brk" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_rk_brk" value="@Model.kd_rk_brk">
                    <kendo-dropdownlist for="kd_rk_brk" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "Akseptasi")" data="dataKodeBrokerDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_brk" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Bank</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_bank" value="@Model.kd_grp_bank">
                    <kendo-dropdownlist for="kd_grp_bank" style="width: 100%" on-change="OnKodeBankChange" option-label="Pilih Kode Bank"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeBank", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_bank" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_rk_bank" value="@Model.kd_rk_bank">
                    <kendo-dropdownlist for="kd_rk_bank" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "Akseptasi")" data="dataKodeBankDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_bank" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Marketing</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_grp_mkt" value="@Model.kd_grp_mkt">
                    <kendo-dropdownlist for="kd_grp_mkt" style="width: 100%" on-change="OnKodeMarketingChange" option-label="Pilih Kode Marketing"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeMarketing", "Akseptasi")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_grp_mkt" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_rk_mkt" value="@Model.kd_rk_mkt">
                    <kendo-dropdownlist for="kd_rk_mkt" style="width: 100%"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetKodeRekanan", "Akseptasi")" data="dataKodeMarketingDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_rk_mkt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Polis Persh Asuransi</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_pol_pas" style="width: 100%"/>
                    <span asp-validation-for="no_pol_pas" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Catatan Polis</label>
                <div class="col-sm-9">
                    <kendo-textarea name="ctt_pol" rows="2" style="width: 100%; background-color: white">@Model.ctt_pol</kendo-textarea>
                    <span asp-validation-for="ctt_pol" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Lampiran Polis / Syarat - Syarat Tambahan</label>
                <div class="col-sm-9">
                    <kendo-textarea name="lamp_pol" rows="2" style="width: 100%; background-color: white">@Model.lamp_pol</kendo-textarea>
                    <span asp-validation-for="lamp_pol" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Deskripsi Deductible</label>
                <div class="col-sm-9">
                    <kendo-textarea name="desk_deduct" rows="2" style="width: 100%; background-color: white">@Model.desk_deduct</kendo-textarea>
                    <span asp-validation-for="desk_deduct" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Keterangan Klausula</label>
                <div class="col-sm-9">
                    <kendo-textarea name="ket_klausula" rows="2" style="width: 100%; background-color: white">@Model.ket_klausula</kendo-textarea>
                    <span asp-validation-for="ket_klausula" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-4">
                <input type="hidden" id="tempFlag_konv" value="@Model.flag_konv">
                <label class="col-sm-6">Flag Konversi</label>
                <div class="col-sm-6">
                    <label>
                        <input type="checkbox" class="k-checkbox" id="flag_konv"/>
                        Konversi
                    </label>
                    <span asp-validation-for="flag_konv" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">Nomor Survey</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_survey" style="width: 100%"/>
                    <span asp-validation-for="no_survey" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">Tanggal Tanda Tangan</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_ttd"></kendo-datepicker>
                    <span asp-validation-for="tgl_ttd" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-8">
                <label class="col-sm-3">Link File</label>
                <div class="col-sm-9">
                    <kendo-upload name="linkFile" multiple="false"></kendo-upload>
                    <span asp-validation-for="link_file" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">WPC</label>
                <div class="col-sm-4">
                    <kendo-numerictextbox for="wpc" style="width: 100%" spinners="false"/>
                    <span asp-validation-for="wpc" class="text-danger"></span>
                </div>
                <label class="col-sm-2">Hari</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-4">
                <label class="col-sm-6">Tanggal Input</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_input" style="background-color: #FFFFE1" readonly="true"></kendo-datepicker>
                    <span asp-validation-for="tgl_input" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">Tanggal Update</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_updt" readonly="true"></kendo-datepicker>
                    <span asp-validation-for="tgl_updt" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">Tanggal Closing</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_closing"></kendo-datepicker>
                    <span asp-validation-for="tgl_closing" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-4">
                <label class="col-sm-6">Kode User Input</label>
                <div class="col-sm-6">
                    <kendo-textbox for="kd_usr_input" readonly="true" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="kd_usr_input" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">Kode User Update</label>
                <div class="col-sm-6">
                    <kendo-textbox for="kd_usr_updt" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="kd_usr_updt" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-6">Kode User Closing</label>
                <div class="col-sm-6">
                    <kendo-textbox for="kd_usr_closing" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="kd_usr_closing" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>

    <div class="window-footer">
        <button type="button" id="btn-save-akseptasi" class="btn btn-success space-right">
            <span class="fa fa-save"></span> Save
        </button>
        <button type="button" id="btn-next-akseptasi" class="btn btn-primary space-right">
            Next <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</div>