@using ABB.Application.Alokasis.Queries
@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc

@inject IConfiguration Configuration

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Spreading of Risk (SOR)";
}
<script src="~/Modules/Alokasi/JS/alokasi.index.js"></script>

<div class="flat-box">
    <div class="row">
        <div class="flat-box-title col-md-8">
            Spreading of Risk (SOR)
        </div>
        @* <div class="col-md-4"> *@
        @*     <input type="text" class="search-field-top " id="SearchKeyword" placeholder="Search"/> *@
        @* </div> *@
        @* <div class="col-md-2"> *@
        @*     <button class="flat-btn-primary" id="btnAddNewRegisterKlaim">Add Register Klaim</button> *@
        @* </div> *@
    </div>
    
    <div class="flat-box filter-box">
        <div class="flat-box-content">
            <div class="filter-bar" style="display:flex; align-items:center; gap:10px; flex-wrap:wrap;">

                <label for="kd_cb"><b>Kode Cabang :</b></label>
        
                <kendo-dropdownlist name="kd_cb" option-label="Pilih Cabang"
                                    datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains">
                    <datasource type="DataSourceTagHelperType.Custom">
                        <transport>
                            <read url="@Url.Action("GetCabang", "Alokasi")"/>
                        </transport>
                    </datasource>
                </kendo-dropdownlist>

        
                <!-- Label Periode -->
                <label for="StartDate"><b>Periode :</b></label>

                <!-- DatePicker Dari -->
                @(Html.Kendo().DatePicker()
                    .Name("StartDate")
                    .Value(DateTime.Now)
                    .HtmlAttributes(new { style = "width:150px;" })
                    .Format("dd-MM-yyyy")
                )

                <span class="date-separator">s/d</span>

                <!-- DatePicker Sampai -->
                @(Html.Kendo().DatePicker()
                    .Name("EndDate")
                    .Value(DateTime.Now)
                    .HtmlAttributes(new { style = "width:150px;" })
                    .Format("dd-MM-yyyy")
                )

                <!-- Tombol Cari -->
                @(Html.Kendo().Button()
                    .Name("btnSearch")
                    .Content("<span class='k-icon k-i-search'></span> Cari")
                    .HtmlAttributes(new { @class = "k-primary", style = "border-radius:6px; margin-left:10px;" })
                    .Events(e => e.Click("onSearchClick"))
                )
            </div>
        </div>
    </div>
    
    <div class="flat-box-content">
        @(Html.Kendo().Grid<SORDto>()
        .Name("SORGrid")
        .DataSource(dataSource => dataSource.Ajax()
            .Read(read => read.Action("GetSORs", "Alokasi").Data("searchFilterSOR"))
        )
        .Columns(columns =>
        {
            columns.Command(command =>
            {
                command.Custom("Edit")
                    .Text(" Edit")
                    .IconClass("fa fa-pencil-alt")
                    .HtmlAttributes(new { title = "Edit" })
                    .Click("OnClickEditAlokasi");
                command.Custom("View")
                    .Text("View")
                    .IconClass("fa fa-eye")
                    .HtmlAttributes(new { title = "View" })
                    .Click("OnClickViewAlokasi");
            }).Title("Action").Width(150).Locked(true);
            columns.Bound(col => col.Id).Hidden();
            columns.Bound(col => col.nm_cb).Width(150).Title("Nama Cabang");
            columns.Bound(col => col.nm_cob).Width(150).Title("Nama COB");
            columns.Bound(col => col.nm_scob).Width(150).Title("Nama Sub COB");
            columns.Bound(col => col.no_pol_ttg_masked).Width(200).Title("Nomor Polis");
            columns.Bound(col => col.no_updt_reas).Width(200).Title("Nomor Update Reas");
            columns.Bound(col => col.nm_ttg).Width(200).Title("Nama Tertanggung");
            columns.Bound(col => col.tgl_mul_ptg).Width(150).Title("Tanggal Mulai").Format("{0: dd-MM-yyyy}");
            columns.Bound(col => col.tgl_akh_ptg).Width(150).Title("Tanggal Akhir").Format("{0: dd-MM-yyyy}");
            columns.Bound(col => col.tgl_closing).Width(150).Title("Tanggal Closing").Format("{0: dd-MM-yyyy}");
            columns.Bound(col => col.tgl_closing_reas).Width(150).Title("Tanggal Reas").Format("{0: dd-MM-yyyy}");
            columns.Bound(col => col.flag_closing).Width(200).Title("Flag Closing");
        })
        .AutoBind(false)
        .Pageable(pager => pager
                    .Refresh(true)
                    .Info(true)
                    .PageSizes(true)
                    )
        .Sortable()
        .Filterable()
        .Scrollable()
        .Height(380)
        .Resizable(a=>a.Columns(true))
        .Events(ev => ev.DataBound("setButtonActions"))
    
            )

        @(Html.Kendo().Window()
                    .Name("AlokasiWindow")
                    .Title("Alokasi Page")
                    .Width(1000)
                    .Modal(true)
                    .Visible(false)
                    .Draggable(true)
            )
        
        @(Html.Kendo().Window()
            .Name("FormAlokasiWindow")
            .Title("Form Alokasi Page")
            .Width(800)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
        )
        
        @(Html.Kendo().Window()
            .Name("EndorsWindow")
            .Title("Endors Page")
            .Width(800)
            .Modal(true)
            .Visible(false)
            .Draggable(true)
        )
    </div>
</div>

