@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@model ABB.Web.Modules.Inquiry.Models.InquiryResikoParameterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@addTagHelper *, ABB.Web

<script src="~/Modules/Inquiry/Components/InquiryResikoView/resikoView.js"></script>

<div class="window-body">
    <div id="resikoTab">
        <ul>
            <li class="k-active">
                Resiko
            </li>
            <li>
                Coverage
            </li>
            <li>
                Obyek
            </li>
            <li>
                Others
            </li>
            @* <li> *@
            @*     Alokasi *@
            @* </li> *@
        </ul>
        <div id="tabResiko">
            <vc:inquiry-resiko model="@Model"></vc:inquiry-resiko>
        </div>
        <div id="tabCoverage">
            <vc:inquiry-coverage model="@Model"></vc:inquiry-coverage>
        </div>
        <div id="tabObyek">
            <vc:inquiry-obyek model="@Model"></vc:inquiry-obyek>
        </div>
        <div id="tabOther">
            <vc:inquiry-other model="@Model"></vc:inquiry-other>
        </div>
        @* <div id="tabAlokasi"> *@
        @*     <vc:alokasi model="@Model"></vc:alokasi> *@
        @* </div> *@
    </div>
    
    <div class="window-footer">
        <button type="button" id="btn-previous-inquiryResikoView" class="btn btn-primary space-right">
            <span class="fa fa-arrow-left"></span> Previous
        </button>
        <button type="button" id="btn-next-inquiryResikoView" class="btn btn-primary space-right">
            Next <span class="fa fa-arrow-right"></span>
        </button>
    </div>
</div>