@using Newtonsoft.Json
@model ABB.Application.DashboardUnderwriting.Queries.DashboardUnderwritingDto

@{
    Layout = "~/Modules/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}
<script src="~/Modules/DashboardUnderwriting/JS/dashboardUnderwriting.js"></script>

<style>
    .chart--container {
      min-height: 550px;
      width: 100%;
      height: 100%;
    }
    .card-custom:hover{
        transform: scale(1.1);
    }
    table{
        text-align: center;
    }
    thead{
        background-color: lightblue;
    }
  </style>

<div class='flat-box'>
    <div class='row'>
        <div class='flat-box-title col-md-12' style="justify-content: center; font-size: 14px">
        Status Pengajuan Akseptasi
        </div>
    </div>

    <div class='flat-box-content'>
        <div class='row'>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[0].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #6FA8DC'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[0].icon' style='font-size: 5em'></span>
                        <p style='align-self: center; margin-left:1em'>@Model.Data[0].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em'>@Model.Data[0].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[1].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #597EAA'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[1].icon' style='font-size: 5em;'></span>
                        <p style='align-self: center; margin-left:1em;'>@Model.Data[1].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em;'>@Model.Data[1].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[2].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #9FC5F8'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[2].icon' style='font-size: 5em; color: white'></span>
                        <p style='align-self: center; margin-left:1em; color: white'>@Model.Data[2].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em; color: white '>@Model.Data[2].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[3].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #073763'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[3].icon' style='font-size: 5em; color: white'></span>
                        <p style='align-self: center; margin-left:1em; color: white'>@Model.Data[3].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em; color: white'>@Model.Data[3].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[4].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #A2C4C9'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[4].icon' style='font-size: 5em'></span>
                        <p style='align-self: center; margin-left:1em'>@Model.Data[4].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em'>@Model.Data[4].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[5].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #729FA9'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[5].icon' style='font-size: 5em; color: white'></span>
                        <p style='align-self: center; margin-left:1em; color: white'>@Model.Data[5].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em; color: white'>@Model.Data[5].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[6].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #45818E'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[6].icon' style='font-size: 5em; color: white'></span>
                        <p style='align-self: center; margin-left:1em; color: white'>@Model.Data[6].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em; color: white'>@Model.Data[6].jml_data</p>
                    </div>
                </div>
            </section>
            <section class='col-sm-3'>
                <div class='card card-custom' onclick="window.open('@Model.Data[7].url', 'mywindow');" style='cursor: pointer;width:auto; height: 120px; background: #134F5C'>
                    <div class='card-body' style='display:flex'>
                        <span class='fa @Model.Data[7].icon' style='font-size: 5em; color: white'></span>
                        <p style='align-self: center; margin-left:1em; color: white'>@Model.Data[7].nm_status</p>
                        <p style='position:absolute; bottom:0; right:0; font-size:2em; margin-bottom:0px; margin-right:1em; color: white'>@Model.Data[7].jml_data</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div class="card card-default color-palette-box">
        <div class="card-header">
            <p class="card-title" style="width: 100%; text-align: center; font-weight: bold; font-size: 14px;">
                Target dan Realisasi Produksi Umum @ViewBag.DatabaseName
            </p>
            <p class="card-title" style="width: 100%; text-align: right; padding-top: 1em; padding-right: 1em; font-size: 15px;">
                @DateTime.Now
            </p>
        </div>
        
        <div class="row" style=" justify-content: space-between">
            <div style="width: 42.5%; margin-left: 1em">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595; border-left: 1px solid #5B7595;">Total Target</th>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595;">Total Produksi</th>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595; border-right: 1px solid #5B7595;">Rasio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="border-bottom: 1px solid #5B7595; border-left: 1px solid #5B7595;" id="target_rkap"></td>
                        <td style="border-bottom: 1px solid #5B7595;" class="produksi_sdthnini"></td>
                        <td style="border-bottom: 1px solid #5B7595; border-right: 1px solid #5B7595;" id="rasio"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
            <div style="width: 55%; margin-right: 1em">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595; border-left: 1px solid #5B7595;">Total Produksi s/d Tahun ini</th>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595;">Total Produksi s/d Tahun lalu</th>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595; border-right: 1px solid #5B7595;">Naik (Turun)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="border-bottom: 1px solid #5B7595; border-left: 1px solid #5B7595;" class="produksi_sdthnini"></td>
                        <td style="border-bottom: 1px solid #5B7595;" id="produksi_sdthnlalu"></td>
                        <td style="border-bottom: 1px solid #5B7595; border-right: 1px solid #5B7595;" id="produksi_naikTurunPerTahun"></td>
                    </tr>
                    </tbody>
                </table>
                
                <table class="table">
                    <thead>
                    <tr>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595; border-left: 1px solid #5B7595;">Total Produksi Bulan Ini</th>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595;">Total Produksi Bulan lalu</th>
                        <th style="border-bottom: 1px solid #5B7595; border-top: 1px solid #5B7595; border-right: 1px solid #5B7595;">Naik (Turun)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="border-bottom: 1px solid #5B7595; border-left: 1px solid #5B7595;" id="produksi_blnini"></td>
                        <td style="border-bottom: 1px solid #5B7595;" id="produksi_blnlalu"></td>
                        <td style="border-bottom: 1px solid #5B7595; border-right: 1px solid #5B7595;" id="produksi_naikTurunPerBulan"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <input type="hidden" value="@JsonConvert.SerializeObject(Model.Graphic)" id="dashboardData">
        <div id="barChart" class="chart--container"></div>
    </div>
</div>

<div class="container-fluid">
    
</div>