@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ABB.Web.Modules.NomorRegistrasiPolis.Models.NomorRegistrasiPolisViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Nomor Registrasi Scheedule Polis";
    var nomor_aksepatsi = Model.kd_cb.Trim() + " . " + Model.kd_cob.Trim() + " . " +
                          Model.kd_scob.Trim() + " . " + Model.kd_thn.Trim() + " . " + Model.no_reff.Trim();
}

<script src="~/Modules/NomorRegistrasiPolis/JS/nomorRegistrasiPolis.edit.js"></script>

@Html.AntiForgeryToken()
<form id="NomorRegistrasiPolisForm" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.kd_thn)
    @Html.HiddenFor(m => m.no_pol)
    <div class="window-body" style="background-color: lightgray">
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode Cabang</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_cb" value="@Model.kd_cb">
                    <kendo-dropdownlist for="kd_cb" style="width: 100%" readonly="true" value="@Model.kd_cb"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCabang", "NomorRegistrasiPolis")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cb" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode COB</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_cob" value="@Model.kd_cob">
                    <kendo-dropdownlist for="kd_cob" style="width: 100%" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetCOB", "NomorRegistrasiPolis")"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_cob" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode SCOB</label>
                <div class="col-sm-6">
                    <input type="hidden" id="temp_kd_scob" value="@Model.kd_scob">
                    <kendo-dropdownlist for="kd_scob" style="width: 100%" readonly="true"
                                        datavaluefield="Value" datatextfield="Text" filter="FilterType.Contains" class="primary-dropdown">
                        <datasource type="DataSourceTagHelperType.Custom">
                            <transport>
                                <read url="@Url.Action("GetSCOB", "NomorRegistrasiPolis")" data="dataKodeSCOBDropDown"/>
                            </transport>
                        </datasource>
                    </kendo-dropdownlist>
                    <span asp-validation-for="kd_scob" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Polis</label>
                <div class="col-sm-6">
                    <kendo-maskedtextbox mask="00.000.00.0000.0000-0" for="no_pol_ttg" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="no_pol_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Akseptasi</label>
                <div class="col-sm-6">
                    <input type="hidden" id="kd_thn" value="@Model.kd_thn">
                    <kendo-textbox name="temp_nomor_akseptasi" value="@nomor_aksepatsi" readonly="true" style="width: 100%"/>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Update</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" format="#" for="no_updt" readonly="true" style="width: 100%; background-color: #00FFFF"/>
                    <span asp-validation-for="no_updt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Nomor Registrasi</label>
                <div class="col-sm-9">
                    <kendo-textbox for="no_reg" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nm_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Ket. Nomor Registrasi</label>
                <div class="col-sm-9">
                    <kendo-textarea name="ket_no_reg" rows="2" style="width: 100%; background-color: white">@Model.ket_no_reg</kendo-textarea>
                    <span asp-validation-for="ket_no_reg" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Renewal</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_renew" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="no_renew" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Nomor Endorsment</label>
                <div class="col-sm-6">
                    <kendo-textbox for="no_endt" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="no_endt" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Tahun Underwriting</label>
                <div class="col-sm-6">
                    <kendo-numerictextbox spinners="false" format="#" for="thn_uw" readonly="true" style="width: 100%"/>
                    <span asp-validation-for="thn_uw" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Tanggal Input</label>
                <div class="col-sm-6">
                    <kendo-datepicker for="tgl_input" readonly="true" style="background-color: #FFFFE1"></kendo-datepicker>
                    <span asp-validation-for="tgl_input" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Periode Pertanggungan</label>
                <div class="col-sm-6 row">
                    <div class="col-sm-5">
                        <kendo-datepicker for="tgl_mul_ptg" readonly="true" style="width: 100%; background-color: #FFFFE1"/>
                        <span asp-validation-for="tgl_mul_ptg" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2" style="align-content: center">
                        <p>s/d</p>
                    </div>
                    <div class="col-sm-5">
                        <kendo-datepicker for="tgl_akh_ptg" readonly="true" style="width: 100%; background-color: #FFFFE1"/>
                        <span asp-validation-for="tgl_akh_ptg" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-6">
                <label class="col-sm-6">Tanggal Closing</label>
                <div class="col-sm-6">
                    <kendo-datepicker readonly="true" for="tgl_closing"></kendo-datepicker>
                    <span asp-validation-for="tgl_closing" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-6">
                <label class="col-sm-6">Kode User Input</label>
                <div class="col-sm-6">
                    <kendo-textbox for="kd_usr_input" readonly="true" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="kd_usr_input" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="row col-sm-12">
                <label class="col-sm-3">Nama Tertanggung</label>
                <div class="col-sm-9">
                    <kendo-textbox for="nm_ttg" readonly="true" style="width: 100%; background-color: #FFFFE1"/>
                    <span asp-validation-for="nm_ttg" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="window-footer">
        <button type="button" id="btn-save-nomorRegistrasiPolis" class="btn btn-primary space-right">Save</button>
    </div>
</form>
